*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: initial;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-container{
    border: 5px solid blue;
    padding: 3rem;
    border-radius: 3px;
    width: 450px;
    text-align: center;
}

.time-display{
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.controls{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 2rem;
}

select{
    padding: 0.8rem 1rem;
    border-radius: 3px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3 ease;
}

select:hover{
    background: rgba(255, 255, 255, 0.2);
}

select:disabled{
    opacity: 0.4;
    cursor: not-allowed;
}

button{
    width: 80%;
    padding: 1.2rem;
    border: none;
    border-radius: 12px;
    background: linear-gradient(135deg, #4ecca3, #45b7d1);
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

