@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Madimi+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Lilita+One&family=Madimi+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Madimi One", sans-serif;
    font-weight: 300;
    font-style: normal;
   
}


/* NAV - SECTION */
.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 5px;
    background: grey;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 7vw;
    border-bottom: 2px solid rgb(252, 196, 124);
    background-color: rgb(248, 232, 217);
    box-shadow: 0 2px 20px rgb(253, 124, 124);
}

.headerbar {
    display: none;
}
.header h4{
        font-family: "Madimi One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 25px;
}

.searchicon {
    display: block;
}

.bar {
    display: none;
}

.header .nav ul {
    display: flex;
    align-items: center;
    list-style: none;

}

.header .nav ul a {
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.header .nav li:hover {
    color: rgb(253, 57, 8);
}

.header .account ul li {
    list-style: none;
}

.account {
    flex: 0.1;
}

.account ul {
    display: flex;
    justify-content: end;
}

.account ul li {
    padding: 0 15px;
    font-size: 18px;
}

.bar i:hover {
    color: rgp(253, 57, 8);
}

.search {
    display: none;
    width: 200px;
    justify-content: center;
}

.search input {
    width: 100%;
    outline: none;
    border: none;
    padding: 5px;
}

.searchicon {
    background-color: rgp(255, 210, 210);
    display: block;
    padding: 4px 5px;
    cursor: pointer;
}

/* HOME - SECTION */

.home {
    background-color: rgb(248, 232, 217);
    padding: 0 7vw;
}

.main_slide {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.main_slide div:nth-child(2) {
    flex: 1;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.main_slide div:nth-child(1) {
    padding-top: 20px;
    flex: 1;
    font-size: 30px;
}

.main_slide div:nth-child(1) p {
    font-size: 13px;
    padding: 20px 0;
}

.main_slide div:nth-child(1) span {
    color: rgb(253, 57, 8);
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: rgb(253, 176, 34);
}

.main_slide div:nth-child(2) img {
    width: 500px;
    border-radius: 40px;
}

.red_btn {
    margin-left: 35%;
    margin-top: 20px;
    width: 160px;
    font-weight: bold;
    height: 40px;
    color: aliceblue;
    background-color: rgb(253, 77, 8);
    border: none;
    border-radius: 5px;
    border: 1px solid rgb(253, 77, 8);
    box-shadow: 0 10px 15px rgb(250, 120, 69);
    transition: all 0.2s;
    cursor: pointer;

}

.red_btn:hover {
    background-color: white;
    box-shadow: 0 2px 15px rgb(250, 120, 69);
    border: 1px solid rgb(253, 77, 8);
    color: rgb(253, 57, 8);
}

.food-items {
    margin: 70px 0;
    padding: 20px 0;
    border-radius: 30px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item {
    width: 250px;
    padding: 30px;
    text-align: center;
}

.item div {
    height: 160px;
}

.item img {
    width: 160px;
    margin-bottom: 15px;
    border-radius: 50%;
}

.item p {
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.white_btn {
    margin-top: 20px;
    width: 160px;
    font-weight: bold;
    color: rgb(253, 57, 8);
    line-height: 50px;
    border: 1px solid rgb(253, 57, 8);
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 15px rgb(250, 120, 69);
}

.white_btn:hover {
    color: white;
    background-color: rgb(253, 57, 8);
    box-shadow: 0 10px 15px rgb(250, 120, 69);

}

.item .red_btn,
.item .white_btn {
    width: 120px;
    line-height: 35px;
}

.main_slide2 {
    margin: 80px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.foodimg {
    flex: 0.5;
}

.foodimg img {
    max-width: 500px;
    width: 45vw;
}

.question {
    flex: 0.5;
    flex-direction: column;
    margin-left: 40px;
}

.question h2 {
    font-size: 35px;
    margin-bottom: 15px;
}

.q-ans {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0;
    cursor: pointer;

}

.q-ans img {
    width: 45px;
}

.q-ans div:first-child {
    padding: 10px;
    border-radius: 50%;
    height: 65px;
    text-align: center;
    background-color: white;
    margin-right: 20px;
}

.q-ans div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

.q-ans div:nth-child(2)p {
    margin-top: 10px;
    font-size: 10px;
}

.main_slide3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
}

.main_slide3 .fav-head {
    text-align: center;
    width: 450px;
    margin-bottom: 30px;
}

.main_slide3 .fav-head h3 {
    font-size: 25px;
    padding: 20px 0;
}

.main_slide3 .fav-head p {
    font-size: 13px;
    text-align: center;
}

.main_slide3 .fav-food {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
}

.main_slide3 .fav-food .item {
    background-color: white;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0 2px 10px rgba(119, 119, 119, 0.438);
    width: 220px;
    padding: 15px;
    padding-top: 20px;
    text-align: center;
    cursor: pointer;
}

.main_slide3 .fav-food .item div {
    height: 160px;
    margin-bottom: 28px;
}

.main_slide3 .fav-food .item img {
    width: 160px;
    margin-bottom: 15px;
}

.main_slide3 .fav-price {
    color: red;
    font-weight: bold;
    font-size: 15px;
}

.main_slide3 .dsgn {
    background-color: rgba(255, 214, 176);
    height: 50%;
    width: 100%;
    position: absolute;
    z-index: -1;
    bottom: 0;
    border-radius: 10px;
}


.main_slide3 .fav-food .item .btn {
    background-color: lightcoral;
    color: rgb(0, 0, 0);
    width: 90px;
    height: 25px;
    border: none;
    border-radius: 5px;
}

.main_slide3 .fav-food .item .btn:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    border: 2px solid lightcoral;
}
.main_slide4{
    margin-top:170px;
    display: flex;
    flex-wrap: wrap-reverse;
    margin-bottom: 70px;
}
.main_slide4 .chef-feed{
    flex: 0.5;
    margin-top: 20px;
}
.main_slide4 .chef{
    flex: 0.5;
    text-align: right;
}

.main_slide4 .chef img{
    margin-top: -130px;
    width: 50vw;
    max-width: 490px;   
    border-radius: 50px;
    padding: 10px;
}

.main_slide4 .chef-feed h2{
    font-size: 32px;
    margin-bottom: 25px;
}

.main_slide4 .chef-feed p{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
   
}

.main_slide4 .chef-details{
    margin-top: 20px;
    display: flex;
    margin: 25px 0;
    align-items: center;
}
.main_slide4 .chef-details img{
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
    border: 4px solid rgb(202, 216, 6);
}

.main_slide4 .chef-details h6{
    font-size: 14px;
}

.main_slide4 .chef-details p{
    font-size: 11px;
    color: red;
    font-weight: 600;
}

.main_slide4 .chef-vic{
   display: flex;
   align-items: center;
   padding: 25px 20px;
   background-color: rgb(225,219,185);
   border-radius: 0 100px 0 0;
   margin-top: 40px;
   width: 100%;
}

.main_slide4 .chef-vic div{
    display: flex;
    align-items: center;
    margin-right: 20px;
    flex: 0.5;
    height: 27px;
    overflow: hidden;
}

.main_slide4 .chef-vic div i, .main_slide4 .chef-vic div h4{
    font-size: 27px;
    margin-right: 8px;
}

.main_slide4 .chef-vic div h4{
    color: red;
}

.main_slide4 .chef-vic .para{
    font-size:10px;
    padding-top: 8px;
    line-height: 13px;
}

.main_slide4{
    margin-top: 150px;
}
.main_slide4 .chef-feed{
    flex: 1;
    text-align: center;
    margin-bottom: 40px;
}

.main_slide4 .chef img {
    width: 80vw;
}

.letter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.letter-head{
    flex:0.5;
}

.letter-head h2{
    font-size: 30px;
}
.letter-head span {
    color: red;
}
.letter-input{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex: 0.5;
}
.letter-input div{
      width: 70%;
      display: flex;
      align-items: center;
      background-color: rgb(225,219,185);
}
.letter-input input{
    font-size: 15px;
    padding: 9px;
    outline: none;
    width: 100%;
    border: none;
    background-color: rgb(225,219,185);
}
.letter-input input::placeholder{
    font-weight: 600;
}
.letter-input .red_btn{
    margin: 0;
    font-size: 18px;
    box-shadow: none;
    border-radius: 0 10px 10px 0;
}

.footer{
    padding: 30px 0;
    border-top: 2px solid rgb(252,184,107);
    border-bottom: 2px solid rgb(252,184,107);
    background-color: rgb(252,222,195);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer-1{
    display: flex;
}

.footer-1 .logo-1{
    padding: 0 30px 30px 0;
}

.footer-1 p{
    cursor: pointer;
    font-size: 14px;
    padding: 2px;
    color: rgb(225,137,2);
    color: rgb(253, 77, 8);
}

.footer-1 .address p{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
  
  
}
.footer-1 .address span{
    color: black;
}



@media only screen and (max-width:768px) {

    .header .nav,
    .header .account {
        display: none;  
    }

    .search {
        width: 60vw;
    }

    .bar {
        display: block;
        cursor: pointer;
    }

    .headerbar {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%;
        bottom: 0;
        width: 100%;
        background-color: rgb(252, 231, 216);
        transition: all 0.5s;
    }

    .headerbar .account,
    .headerbar .nav {
        display: block;
        font-size: 18px;
    }

    .bar .fa-xmark {
        display: none;
        top: 20px;
        right: 5w;
        position: absolute;
        font-size: 25px;
    }

    .headerbar .nav ul {
        flex-direction: column;
        margin-top: 10px;
        text-align: center;
    }

    .headerbar .nav li {
        width: 96vw;
        margin: 10px 0;
        padding: 15px 30px;
        box-shadow: 0 2px 15px rgb(252, 193, 169);
    }

    .headerbar .account {
        line-height: 40px;
        margin-top: 60px;
        background-color: rgb(252, 210, 182);
        padding: 15px;
    }

    .headerbar .account ul {
        justify-content: space-between;
    }

    .foodimg {
        flex: 1;
        text-align: center;
        margin-bottom: 20px;
        padding-left: 70px;
    }

    .foodimg img {
        width: 70vw;
        background-color: red;
    }

    .question {
        flex: 1;
        margin-top: 30px;
    }

    .question .qn {
        color: red;
        font-size: 25px;
        flex: auto;
        width: 400px;
    }

    .question div:nth-child(2) p {
        font-size: 11px;
        display: flex;
        width: 200px;
    }

    .main_slide3 {
        margin-top: 100px;
    }

    .main_slide3 .dsgn {
        height: 60%;
    }

    .main_slide3 .fav-head {
        width: 80%;
        margin-bottom: 10px;
    }

    .main_slide3 .fav-food {
        padding: 40px;
    }

    .main_slide3 .fav-head h3 {
        font-size: 25px;
    }

    .main_slide3 .fav-head p {
        font-size: 11;
    }

    .main_slide3 .dsgn {
        display: none;
    }

    .letter-head h2{
        font-size: 20px;
        width: 90vw;
  
        
    }
    .letter-input input{
        font-size: 12px;
        padding: 10px;
        width: 50vw;
    }

    .letter-input .red_btn{
        line-height: 40px;
        width: 120px;
        font-size: 12px;
    }
    .letter{
        justify-content: center; 
    }
    .letter-head{
        flex: 1;
        text-align: center;
    }

    .footer{
      margin-top:0px;
    }
    .footer-1 .address p{
        font-size: 18px;
    }

 
}

@media only screen and (max-width:550px) {
    .main_slide div:nth-child(1) {
        font-size: 18px;
    }

    .main_slide div:nth-child(1) p {
        padding-left: 5px;
        margin-top: 10px 0;
        font-size: 11px;
    }

    .red_btn {
        margin: top 10px;
        line-height: 30px;
        font-size: 12px;
        padding: 0 10px;
    }

    .main_slide div:nth-child(1) span {
        text-underline-offset: 5px;
    }

    .main_slide div:nth-child(2) img {
        width: 70vw;
    }

    .main_slide4 .chef-vic .para{
        display: none;
    }
    
    .footer{  
        padding: 20px ;
        width: 100%;
        flex-wrap: wrap;
    }
    .footer-1 .address p{
        font-size: 12px;
    }
    .footer-1 .logo-1{
        padding: 20px;
    }
    .footer-1 .address {
        padding-left:0;
        margin-top: 30px;
    }
  
 
}