*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: grey;
}

header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: rgb(228, 60, 60);
}

.nav{
    max-width:1200px;
    margin: auto;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: white;   
}


.box{
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;  
    position: relative;
}

.cart-count{
    position: absolute;
    background-color: lightgrey;
    top: -7px;
    right: 0;
    padding: 3px;
    height: 20px;

}

#cart-icon{
    font-size: 1.5rem;
    cursor:pointer;
  
}

img{
    width: 100%;
}

.container{
    max-width: 1200px;
    padding: 4rem;
    width: 100%;
    margin: auto;
}

.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,auto));
    gap: 1.5rem;

}

h2.title{
    font-size:1.4rem;
    font-weight: 500;
    margin-bottom: 1.4rem;
}

.food-box{
    background-color:#fff;
    padding: 10px;
    box-shadow: 0 1px 4px rgba(40,37,37,0.1);
    border-radius: 3px;
    position: relative;
}

.pic{
    overflow: hidden;

}

.pic:hover img{
    transform: scale(1.5);
}

.food-img{
    transition: 0.3s;
    aspect-ratio: 1/1;
    object-fit: cover;
}


.food-price{
    font-weight: 500;
}
.add-cart{
    position: absolute;
    bottom:0;
    right: 0;
    font-size: 30px;
    color: rgb(250, 250, 253);
    cursor: pointer;
    background-color:green;
    transition: 0.5s;
}

.add-cart:hover{
    background-color: red;
}


.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 350px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    background-color: #fff;
    box-shadow:0 1px 4px rgb(40,37,37,0.1);   
    z-index: 100;
}

.cart-active{
    right: 0;
    transition: 0.5s;
}

.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: black;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid rgba(161, 123, 123, 0.664);
    padding: 10px;
}

.cart-img{
        width: 75px;
        height: 75px;
        object-fit: cover;
        border: 2px solid rgba(0,0,0,0.1);
        padding: 5px;

}

.card-food-title{
    /* background-color: rgb(223, 219, 219); */
    text-transform: uppercase;
    font-weight: 500;
    color: #ff6348;

}

.detail-box{
    display: grid;
    row-gap: 0.5rem;
}
.price-box{
    font-weight: 500;
    color: green;
    display: flex;
    justify-content:space-around;
}


.cart-price{
    font-weight:500;
}

.cart-quantity{
    border: 1px solid rgba(0,0,0,0.1);
    outline: none;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove{
    font-size: 24px;
    color: red;
    cursor: pointer;

}

.total{
display: flex;
justify-content: flex-end;
margin-top: 1.5rem;

}


.total-title{
    font-weight: 600;
    font-size: 1rem;




}

.total-price{
       margin-left: 0.5rem;
}

.btn-buy{
        padding: 12PX 20px;
        background-color: green;
        outline: none;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        color: #fff;
        cursor: pointer;
    
}

#cart-close{
        position: absolute;
        top: 0;
        right: 0.8rem;
        font-size:2rem;
        cursor: pointer;
}