@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: popins, sans-serif;
    text-align: center;
}

.container{
    background-color: palegreen;
    padding: 50px;
    border-radius: 10px;
    margin: 100px;
}

#heading{
    color: rgb(85, 0, 241);
}
input[type="text"]{
    margin-top: 8px;
    height: 3rem;
    width: 280px;
    border-radius: 10px;
    outline: none;
    border: 2px solid #E7E7E9;
}

input:focus{
    background-color: aliceblue;
    color: grey;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgpa(0, 123,235,25%);
}


input[type="button"]{
    background-color: rgb(31, 157, 216);
    color: white;
    border-radius: 50px;
    border: 2px solid blue;
    width: 98px;
    height:25px;
    font-weight: 600;
}