* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dbe9ff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    background-color: #40647e;
    width: 500px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    border-radius: 10px;

    
}

.timer-display {
    background-color: rgba(212, 155, 155, 0.589);
    width: 70%;
    padding: 2rem;
    margin-bottom: 6px;
    font-size: 2.5rem;
    margin-left: 2rem;
    border-radius: 8px;
    display: flex;
}

.buttons {
    width: 200px;
    padding: 10px ;
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.5rem;
    gap: 1.5rem;

}

.buttons button:nth-child(1) {
    background-color: green;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    background-image: linear-gradient(to right, yellow,rgb(29, 109, 163));
    

}

.buttons button:nth-child(2) {
    background-color: green;
    font-size: 18px;
    padding: 12px 15px;
     border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    background-image: linear-gradient(to right, yellow,rgb(206, 148, 39));
}

.buttons button:nth-child(3) {
    background-color: green;
    font-size: 18px;
    padding: 10px;
     border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    background-image: linear-gradient(to right, yellow,rgb(82, 56, 8));
}