*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    width: 100vm;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    background-image: url("https://th.bing.com/th/id/OIP.qDvAlhidTBzXiGyDfq_O0gHaE7?rs=1&pid=ImgDetMain");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.counter{
    display: flex;
    align-items: center;  
    margin-top: 30px;    
}

p{
    font-size: 13px;
}

.newyear{
    font-size: 50px;
    font-weight: 400;
}

.box{
    width: 50px;
    height: 50px;
    text-align: center;
   
}

.box h2{
    font-size: 12px;
}

.box p{
    font-size: 10px;
}
.box small{
    font-size: 10px;
}

@media (min-width:576px){
    .newyear{
        font-size: 60px;
    }
    p{
        font: size 15px;
    }
    .box h2{
        font-size: 30px;
    }
    .box{
        width: 70px;
        height: 70px;
    }
    .box small{
        font-size: 20px;
    }
}


@media (min-width:768px){
    .newyear{
        font-size: 100px;
    }

    p{
        font-size: 18px;
    }
    .box h2{
        font-size: 50px;
    }
    .box{
        width: 155px;
        height: 100px;
    }
    .box small{
        font-size: 40px;
    }
}