@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Lilita+One&family=Madimi+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "madimi one stack", sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}
.container{
    padding: 10px;
    background-color: #1f1f1f;
}

.images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    padding-bottom: 20px;
    position: relative;

}
.images img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     cursor: pointer;
}
.images div {
    padding: 8px;
}
.images div span{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    position: absolute;
    width: 116px;
    opacity: 0.2;
    border-radius: 20px;
    margin-left: 20px;
    color: rgb(224, 26, 26); 
}
.images div span:hover{
    color: rgb(207, 42, 42);
   opacity: inherit;
}
.images div:nth-child(7){
    position: relative;
}
.images div:nth-child(7) span{
    position: absolute;
    top: 40%;
    left: 30%;
}
.images div:nth-child(9){
    position: relative;
}
.images div:nth-child(9) span{
    position: absolute;
    top: 40%;
    right: 40%;
}
.images div:nth-child(4){
    position: relative;
}
.images div:nth-child(4) span{
    position: absolute;
    top: 20%;
    left: 30%;
}
.images div:nth-child(1){
    position: relative;
}
.images div:nth-child(1) span{
    position: absolute;
    top: 70%;
    left: 30%;
}
.images div:nth-child(5){
    position: relative;
}
.images div:nth-child(5) span{
    position: absolute;
    top: 8%;
    display: flex;
    justify-content: center;
}
.images div:nth-child(6){
    position: relative;
}
.images div:nth-child(6) span{
    position: absolute;
    top:70%;
    right: 40%;
}
.model{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(2px);
    place-items: center;
    color: #fff;
    display: none;
    /* opacity: 0;
    pointer-events: none; */
}
.model-content{
    min-height: 100px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.model-content img{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 30%;
    right: 0;
    transition: all 1s ease-in-out;
}
.model-text{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 30%;
    right: 0;
}
.model-nav{
    position: absolute;
    top: 30%;
    right: 0.5rem;
    font-size: 20px;
}
.model-nav .btn-prev,.btn-next{
    padding: 5px;
    border-radius:50%;
    border: none;
}
.model .close{
    font-size: 30px;
    position:absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
}

.show{
    display: grid;
}










