*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
    border: none;
    outline: none;
}

body{
    background-color: #f5f8ff;
}

.wrapper{
    width: 95%;
    margin: 0 auto;

}

#search-container{
      margin: 1em 0;
}

#search-container input{
    width: 75%;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid #ccc;
    background-color: transparent;
}

#search-container input:focus{
    border-color: #9c97d4;
    box-shadow: 0 0 5px rgba(156, 151, 212, 0.5);
    transition: all 0.3s ease-in-out;
}

#search-container button{
    width: 80px;
    height: 30px;
    background-color: thistle;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#search-container button:hover{
    background-color: lightgreen;
    transition: all 0.3s ease-in-out;
}

.hide{
    display: none;
}


#buttons button{
    border: 2px solid #9c97d4;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    width: 98px;
    
}
#buttons button:hover{
    background-color: #9c97d4;
    color: white;
    transition: all 0.3s ease-in-out;
}

.active{
    background-color: #6759ff;
    color: #ffffff;
}

#products{
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-column-gap: 1.5em;
    padding: 2em 0;
}

.card{
    background-color: #ffffff;
    max-width: 18em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1em 2em 2.5em rgba(1,2, 68, 0.08);
}

.image-container{
    text-align: center;
}

img{
    max-width: 100%;
    object-fit: contain;
    height: 15em;
    cursor: pointer;
}

.container{
    padding: 0.5em 0;
    border-top: 1px solid #eee;
}

.container h5{
    margin: 0.5em 0;
    font-size: 16px;
}

.container h6{
    font-weight: 600;
    font-size: 18px;
}

@media screen and (max-width: 720px){
    #products{
        grid-template-columns: auto auto ;
        grid-column-gap: 1.5em;
    }

    img{
        max-width: 100%;
        object-fit: contain;
        height: 10em;
    }

    .card{
        max-width: 10em;
        margin-top: 1em;
        
    }



}