* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #fff;
}

.container {
    margin: auto;
    transition: 0.5s;
    width: 900px;
    max-width: 90vw;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 80px;
    cursor: pointer;
    height: 80px;
    background-color: #808080;
}

.shoppingBasket{
    position: relative;
}

.shoppingBasket .quantity{
    background-color: rgb(28, 224, 208);
    color: #fff;
    border-radius: 50px;
    padding: 0 8px;
    position: absolute;
    top: -15px;
    left: 10px;
    font-size: 16px;
}

.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 25px;
    row-gap: 25px;
    margin: 10px 30px; 
    padding: 0 55px;
}

.products .items{
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0px 50px #757676;
    letter-spacing: 1px;
    cursor: pointer;
}

.products .items img{
    height: 130px;
    filter: drop-shadow(10px 10px 5px #d3d3d3);
}

.products .items img:hover{
    scale: 1.1;
    transition: 0.5s;
}

.products .items .name{
    font-weight: 600;
    margin: 10px;
}
.products .items .price{
    margin: 10px;
}

.products .items button{
     background-color: #343432;
     color: white;
     border: none;
     padding: 8px;
     border-radius: 20px;
     cursor: pointer;
     outline: none;
}


.products .items button .cart{
     margin-right: 5px;
}

.cart {
    position: fixed;
    top: 0;
    left:100%;
    background-color: #453e3b;
    height: 100vh;
    transition: 0.5s;
    width:300px;
     
}

.cart h3{
    font-weight: 100;
    text-align: center;
    color: white;
    margin-top: 10px;
}

.cart .checkOut{
    position: absolute;
    bottom: 0;
    width:100%;
    display:flex;
    justify-content: center;
}

.cart .checkOut div{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(223, 223, 88);
}

.cart .checkOut div:nth-child(2){
    background-color: black;
    color: #fff;
}

.active .cart{
  left:0;
  transition: 0.1ms;
}
.star{
    color: yellow;
}

.productList{
    padding: 20px;
    height:auto;

}

.productList li{
    display: grid;
    grid-template-columns: 70px repeat(3,1fr);
    margin-bottom: 20px;
    border: 1px solid;
    row-gap: 10px;
    column-gap: 10px;
     align-items: center;
     font-size: 10px;
     color: white;
     padding: 10px;
    
     
}

.productList li img{
    width: 50px;
    background: #fff;
}

.productList li div{
     font-weight: bold;
     font-size: 10px;  
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 5px;
}

.productList li div button{
    font-size: 10px;
    border: none;
    width: 20px;
    height: 20px;
    border-radius:20px;
    padding:4px;
    
}
.productList li div button:nth-child(1){
    background-color: red;
    opacity: 0.9;
}


.productList li div button:nth-child(3){
    background-color: green;
    opacity: 0.9;
    
}
.cart ul li{
    list-style: none;
}

@media only screen and (max-width:550px){
    
 header{
    padding: 25px;
 }

 .products{
    display: block;
    padding: 5px;
 }
 .products .items{
    margin-bottom: 20px;
 }
 .cart ul li{
    list-style: none;
}

}

@media only screen and (max-width:770px){
    .products{
        grid-template-columns: repeat(2,1fr);
    }

    .cart ul li{
        list-style: none;
    }
}







