*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #121317;
}

.wrapper{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border: 1px solid white;
    width: 80vw;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    border: none;
  
}

.container{
    width: 28vmin;
    height: 28vmin;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 16px;
    border-radius: 0.5em;
    background-color: #21242b;
    border-bottom: 10px solid #18f98f;
}

i{
    color: #18f98f;
    font-size: 2.5em;
    text-align: center;
}
span.num{
    color: white;
    display: grid;
    place-items: center;
    font-size: 2.0em;
    font-weight: 600;
}

span.text{
    color: #18f98f;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: white;
    line-height: 0;
}


@media  screen and (nax-width:1024px) {
    .wrapper{
        width: 85vw; 
    }

    .container{
        height: 26vmin;
        width: 26vmin;
        font-size: 12px;
    }
}

@media  screen and (max-width: 768px) {
    .wrapper{
         width: 90vw;
         flex-wrap: wrap;
         gap: 30px;
    }

    .container{
        width: calc(50% - 40px);
        height: 30vmin;
        font-size: 14px;
    }
}

@media screen and (max-width:  480px) {
    .wrapper{
        gap: 15px; 
    }

    .container{
        width: 100%;
        height: 25vmin;
        font-size: 8px;
    }
}