* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    background-color: blue;
    place-items: center;
}

.wrapper {
    background-color: white;
    width: 95vmin;
    position: relative;
    padding: 50px 40px 20px 40px;
    border-radius: 30px;
}

.container {
    position: relative;
    width: 100%;
    height: 100px;
    border: 1px solid black;
    margin-top: 30px;
}

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;

    /* ✅ FIX BOTH SLIDERS ALIGNMENT */
    top: 50%;
    transform: translateY(-50%);

    background-color: transparent;

    /* Allow dragging */
    pointer-events: auto;
}

.slider-track {
    width: 100%;
    height: 5px;
    /* background-color: rgb(207, 177, 177); */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 5px;
}

input[type="range"]::-moz-range-track {
    height: 5px;
}

input[type="range"]::-ms-track {
    height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: blue;
    cursor: pointer;
    border-radius: 50%;

    /* ❗ IMPORTANT: keep thumb centered */
    margin-top: 0;

    pointer-events: auto;
}

input[type="range"]::-moz-range-thumb {
    height: 1.7em;
    width: 1.7em;
    border-radius: 50%;
    background-color: #3264fe;
    pointer-events: auto;
}

input[type="range"]::-ms-thumb {
    height: 1.7em;
    width:1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #3264fe;
    pointer-events: auto;
}

input[type="range"]:active::-webkit-slider-thumb {
    background-color: #ffffff;
    border: 3px solid #3264fe;
}

.values {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12rem;
    padding: 10px 0;
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
}

.values:before {
    content: "";
    position: absolute;
    bottom: -14px;
    left: 0;
    right: 0;
    margin: auto;

    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid blue;
}
