*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #000;
}

.nav-container{
           background-color: goldenrod;
           height: 100px;
}

nav{
    width: 95%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.logo img{
    width:100px;
    height: 100px;
    border-radius: 50%;
}

.nav-links{
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
}


.nav-links li{
    padding: 5px;
}

.nav-links  li a {
    font-size: 1.2rem;
    cursor: pointer;
}

.nav-links li a:hover {
      color: rgb(139, 84, 84);
}

.nav-links li:hover{
    transform: scale(1.2);
    transition: transform 0.6s;
}


.arrow{
    height: 5vh;
    width: 30px;
    transform: translateY(30px);
    display: none;
}

.line1,.line2,.line3{
    height: 20%;
    width: 100%;
    background-color: white;
    margin-top: 2px;
}




@media screen and (max-width:840px){
    .nav-links{
        width: 60%;
    }
   .logo  img{
        width: 80px;
        height: 80px;
        transform: translateY(10px);
    }
    .nav-links li a{
        font-size: 18px;
    }
}


@media screen  and (max-width:574px){
    .nav-links{
       display: none;
       /* position: absolute; */
       position: fixed;
       top: 6.2rem;
       right:0;
       background-color: rgb(247, 136, 136);
       flex-direction: column;
       height: 85vh;
       border-top-left-radius: 30px;
       border-bottom-left-radius: 30px;
       transform: translateX(100%);
       transition: all 0.6s;
       
    }


    .nav-links li {
        background-color: grey;
        width: 100%;    
        border-top-left-radius: 30px;

        
    }

      .nav-links li a{
              font-size:  30px;
              margin-left: 30%;
    }
    .nav-links li:hover{
        transform: scale(1);
    }

    .arrow{
        display: block;
        height: 2rem;
        margin-top: 2px;
    }

    .nav-links.display{
        transform: translateX(0);
        display: flex;
    }
}










/* .logo{
    height: 100px;
}

.logo img{
    height: 100%;
    clip-path:circle(50%);
} */