* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: aquamarine;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.regform {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

label {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    display: block;
    margin-bottom: 5px;

}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input::placeholder {
    color: rgb(221, 76, 76);
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-submit {
    background-color: rgb(45, 223, 29);
    font-size: 20px;
    width: 150px;
    height: 40px;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-left: 35%;
}

.container input:focus {
    outline: 0;
}

.error {
    color: red;
    font-weight: bold;

}

.container.error input {
    border-color: red;
}

.container.success input {

    border-color: green;
}