*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: color #f0f0f0;;
}
.container{
    max-width: 500px;
    background-color: white;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1{
    text-align: center;
    font-size: 20px;
    color: red;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: uppercase;
}

h2{
    font-size: 16px;
    font-weight: 500;
    color: chocolate;
    margin-bottom: 10px;
    margin-top: 10px;
}

label,input,select{
    display: block;
    width: 250px;
    height: 25px;
    margin-bottom: 5px;
    padding-left: 2px;
}


#output{
    margin-top: 30px;
    border-top: 1px solid black;
    padding-top: 10px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th,td{
    padding: 5px 3px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
tr:hover{
    background-color: #f2f2f2;
}

.model{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.452);
    width: 100%;
    height: 100%;
}

.model-content{
    background-color: white;
    margin: 15px auto;
    padding: 20px;
    top: 10px;
    width: 400px;
    border-radius: 25px;

}

.close{
    float:right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    color: #aaa;
}

.close:hover{
    color: black;
}

#editFrom{
    margin-top: 15px;
}

#editFormbutton,
#dataFormbutton{
    margin-top: 10px;
}